*.class
.classpath
.project
sparrrow-app/target/
*.swp
*.pyc
.idea/
sparrrow-app/sparrrow-app.iml
sparrrow-app/logs/*.log
local-bash-scripts/logs/*.log
dependency-reduced-pom.xml
slurm/monitor-list.txt
slurm/sparrrow-app-1.0-SNAPSHOT.jar
